                  /*验证横条开始*/
.middle_all { 
	position: relative;
	height:414px;
	width: 1200px;
    margin: 0 auto;
}
.tempo {
	width:400px;
	height:30px;
	margin: 0 auto;
	padding-top:30px;
	position: relative;
}
.tempo_line {
	height:8px;
	width: 380px;
	background-color: #c0c0c0;
	position:relative;
    top:14px;
    z-index:1;
}
.tempo ul {
	position:relative;
	top: -2px;
}
.tempo ul li{
	height:24px;
	width: 24px;
	border-radius:12px;
	background-color: #c0c0c0;
	float: left;
	color: #fff;
	line-height: 24px;
	text-align: center;
	position: relative;
	z-index:2;
}
.space{
	margin-left: 164px;
	margin-right: 164px;
}
.tempo_line_black {
	margin-left: 2px;
	height:3px;
	width: 295px;
	box-shadow:0px 0px 2px 0px;
	background-color: black;
	position:relative;
    top:9px;
    z-index:1;
}
.tempo ol li {
	height:20px;
	width: 20px;
	border-radius:10px;
	background-color:black;
	float: left;
	color: #fff;
	line-height: 24px;
	text-align: center;
	position: relative;
	top:-24px;
	left: 2px;
	z-index:2;
}
.tempo ol li.tempo_ol_color{
	background-color: #c0c0c0;
}
.space_ol {
	margin-left: 168px;
	margin-right: 168px;
}
.step {
	height: 30px;
	width:450px;
	margin: 0 auto;
	position: relative;
	left:14px;
}
.step ul li {
	list-style-type:none;
	float: left;
	font-size: 9px;
	position: relative;
	top: -20px;
	color: darkgray;
	font-weight: normal;
}
.step ul li.step_space {
	margin-left:140px;
	margin-right:152px;  
}
.step ul li.active {
	color: black;
}
      /*验证横条结束*/
                  /*设置新密码开始*/
.proving {
	height: 100px;
	width: 300px;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
	left: -30px;
}
.new {
	height: 40px;
	width: 340px;
	font-size: 14px;
	line-height:40px;
}
.new span{
	color: #E21918;
}
.new input{
	height:38px;
	width: 240px;
	position:relative;
	left:23px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #E3E3E3;
}
.again {
	height: 40px;
	width: 340px;
	margin-top:25px; 
	font-size: 14px;
	line-height:40px;
}
.again span {
	color: red;
}
.again input {
	height:38px;
	width: 240px;
	position:relative;
	left:20px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #E3E3E3;
}
.yes {
	height:42px;
	width: 244px;
	margin: 0 auto;
	background-color: black; 
	color:#fff;
	border-radius:5px;
	position:relative;	
	top:28px;
	left:36px;
	line-height:42px;
	text-align:center;
	font-family:微软雅黑;	
	font-size: 16px;

}
               /*设置新密码结束*/
