                  /*验证横条开始*/
.middle_all { 
	position: relative;
	height:414px;
	width: 1200px;
    margin: 0 auto;
}
.tempo {
	width:400px;
	height:30px;
	margin: 0 auto;
	padding-top:30px;
	position: relative;
}
.tempo_line {
	height:8px;
	width: 380px;
	background-color: #c0c0c0;
	position:relative;
    top:14px;
    z-index:1;
}
.tempo ul {
	position:relative;
	top: -2px;
}
.tempo ul li{
	height:24px;
	width: 24px;
	border-radius:12px;
	background-color: #c0c0c0;
	float: left;
	color: #fff;
	line-height: 24px;
	text-align: center;
	position: relative;
	z-index:2;
}
.space{
	margin-left: 164px;
	margin-right: 164px;
}
.tempo_line_black {
	margin-left: 2px;
	height:3px;
	width: 395px;
	box-shadow:0px 0px 2px 0px;
	background-color: black;
	position:relative;
    top:9px;
    z-index:1;
}
.tempo ol li {
	height:20px;
	width: 20px;
	border-radius:10px;
	background-color:black;
	float: left;
	color: #fff;
	line-height: 24px;
	text-align: center;
	position: relative;
	top:-24px;
	left: 2px;
	z-index:2;
}
/*.tempo ol li.tempo_ol_color{
	background-color: #c0c0c0;
}*/
.space_ol {
	margin-left: 168px;
	margin-right: 168px;
}
.step {
	height: 30px;
	width:450px;
	margin: 0 auto;
	position: relative;
	left:14px;
}
.step ul li {
	list-style-type:none;
	float: left;
	font-size: 9px;
	position: relative;
	top: -20px;
	color: darkgray;
	font-weight: normal;
	margin-top: 10px;
}
.step ul li.step_space {
	margin-left:140px;
	margin-right:152px;  
}
.step ul li.active {
	color: black;
}
      /*验证横条结束*/
    /*密码重置开始*/
.main {
   height:312px;
   width:1200px;
   margin: 0 auto;
   position:relative;
   font-weight: bold;
   color: #E21918;
   padding-top: 80px;
}
.main .middle {
	height: 50px;
	width:250px;
	margin: 0 auto;
}
.main .middle span {
	float: left;
	font-size: 20px;
	line-height: 50px;
	padding-left:15px;
}
.main .middle img {
	float: left;
}
.main .btn {
	height:50px;
	width: 350px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left:30px;
}
.main .btn a {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: lighter;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.main .btn a.back {
	background-color: #E21918;
	color:#fff;
	border: none;
}
.main .btn a.go {
	background-color: black;
	color:#fff;
	border: none;
	position: relative;
	left: 40px;
}
    /*密码重置结束*/